<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p v-bind:id="uuid" v-bind:class="name">{{num}}</p>
      <p>{{doubleNum}}</p>

      <!-- if는 DOM을 아예 제거 -->
      <div v-if="loading">Loading...</div>
      <div v-else>test user logged in</div>

      <!-- Show는 style의 display 옵션을 핸들링 -->
      <div v-show="loading">Loading....</div>

      <!-- TODO: input box를 만들고 입력된 값을 p태그에 출력해보세요.-->
      <p>Message is: {{ message }}</p>
      <input type="text" v-model="message" />
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          num: 10,
          uuid: 'abc1234',
          name: 'text-blue',
          loading: true,
          message: '',
        },
        computed: {
          doubleNum: function () {
            return this.num * 2;
          },
        },
      });
    </script>
  </body>
</html>
